.card {
	background: white;
	color: black;
	font-size: 12px ;
	font-weight: lighter;
	padding: 20px 20px 10px 20px;
	border-radius: 5px; 
	box-shadow: 0px 10px 30px rgba(0,0,0,.2); 
	margin: 10px ; 
	text-align: center;
	width: 240px;
	height: 280px;
	flex-grow: 1; 
	transition: color 0.2s ease ;
}
.card img {
	width : 235px;
	border-radius: 5px; 
	margin:0px;
}

.card p {
margin : 5px;
text-align: left;
}

.card:hover{
	color : white;
	background:linear-gradient(#A242FF,#F5576C);
	border:none;	
}